/* Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

/* Header */
header {
    position: fixed;
    width: 100%;
    min-height: 10vh;
    color: #ffffff;
    background-color: #055D94;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

header a {
    text-decoration: none;
    color: inherit;
}

nav a {
    font-size: small;
    margin-right: 4px;
}

#banner {
    font-size: 170%;
    margin: 18px 5px;
    text-transform: uppercase;
}

/* Main Content */
main {
    background-color: #ffffff;
    flex: 1 0 auto;
    margin-top: 77px;
}

/* Hero Section*/
#hero {
    background: url("../images/bulldogsmall.webp") no-repeat center center/cover;
    height: 500px;
    width: 100%;
}

#greeting {
    z-index: 2;
    background-color: #055D94;
    font-size: 80%;
    color: #ffffff;
    width: 200px;
    margin: 20px 0px;
    position: absolute;
}

#greeting>p {
    font-size: 120%;
}

/* Contact Us Section*/
#contact-points {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1000px;
    margin:auto;
}

#contact-points > section {
    margin-bottom: 30px;
}

.section-headline {
    background-color: #055D94;
    color: #ffffff;
}

#consultation-hours>ul {
    color: #055D94;
    margin: 0 10px;
    list-style-type: none;
}

#address > p {
    color: #055D94;
    margin: 0 10px;
}

#map iframe{
    height:300px;
    width:100%;
}

/* Services Section */
#services-gallery{
    display:flex;
    flex-direction: column;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    
}

.services-picture > img{
    width: 100%;
    max-width: 400px;
    border: 1px solid #055D94;
}

figcaption {
    font-size: 150%;
    position: relative;
    background-color: #055D94;
    color: #ffffff;
    bottom: 50px;
    width:fit-content;
}

/* Appointments Section */
.decorative-picture {
    display:none;
}

form {
    max-width: fit-content;
    margin: auto;
}

#appointments > h2, #form-feedback > h2 {
    background-color: #055D94;
    color: #ffffff;
}

form > label {
    color: #055D94;
}

.appointments-text {
    border: 1px solid #055D94;
    border-radius: 3px;    
}

.appointments-button {
    background-color: #055D94;
    color: #ffffff;
    border-radius: 3px;
    width: 100px;
}

/*Form Feedback*/
.feedback-text{
    color:#055D94;
    text-align: center;
    margin-top:15px;
}

/* Footer */
footer {
    min-height: 10vh;
    background-color: #055D94;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    font-size: 180%;
    color: #ffffff;
}



/* Media query: tablets and larger (814px and up) 
    814px works better for responsiveness for this page*/
@media screen and (min-width: 814px) {

    /* Header */
    nav {
        display: flex;
        margin: 35px 50px;
    }

    nav a {
        font-size: 150%;
        margin: 20px 10px;
    }

    #banner {
        font-size: 300%;
    }

    /* Main Content */
    main {
        margin-top: 108.5px;
    }

    /* Hero Section */
    #hero {
        background: url("../images/bulldog.webp") no-repeat center center/cover;
        height: 700px;
    }

    #greeting {
        font-size: 100%;
        width: 300px;
        margin: 40px 0px;
        padding-left: 10px;
    }

    /* Contact Us Section */
    #contact-points {
        flex-direction: row;
    }

    /* Services Section */
    #services-gallery{
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: space-evenly;
    }

    .services-picture{
        width:400px;
    }

    /* Appointments Section */
    #appointments > div, #form-feedback > div {
        display:flex;
        margin: auto;
        max-width:1000px;
        justify-content: space-between;
    }

    .decorative-picture {
        display: block;
        width: 250px;
        border: 1px solid #055D94;
    }
}