* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

/* Header */
header {
    min-height: 10vh;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header a {
    text-decoration: none;
}


/* Main Content */
main {
    background-color: lightcoral;
    flex: 1 0 auto;
    
}

/* Footer */
footer {
    min-height: 10vh;
    background-color: lightgoldenrodyellow;
}