/* Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

/* Header */
header {
    position: fixed;
    width: 100%;
    min-height: 10vh;
    color: #ffffff;
    background-color: #089BF5;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

header a {
    text-decoration: none;
    color: inherit;
}

nav a {
    font-size: small;
    margin-right: 4px;
}

#banner {
    font-size: 170%;
    margin: 18px 5px;
    text-transform: uppercase;
}

/* Main Content */
main {
    background-color: #ffffff;
    flex: 1 0 auto;
    margin-top: 77px;

}

/* Hero Section*/
#hero {
    background: url("../images/bulldog.jpg") no-repeat center center/cover;
    height: 500px;
    width: 100%;
}

#greeting {
    z-index: 2;
    background-color: #089BF5;
    font-size: 80%;
    color: #ffffff;
    width: 200px;
    margin: 20px 0px;
    position: absolute;
}

#greeting>p {
    font-size: 120%;
}

/* Contact Us Section*/
#contact-points {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.section-headline {
    background-color: #089BF5;
    color: #ffffff;
}

#consultation-hours>ul {
    color: #089BF5;
    margin: 0 10px;
    list-style-type: none;
}

#map iframe{
    height:300px;
    width:100%;
}

/* Services Section */
#services-gallery{
    display:flex;
    flex-direction: column;
}

.services-picture > img{
    width: 100%;
    border: 1px solid #089BF5;
}

.services-picture > h3{
    position: relative;
    background-color: #089BF5;
    color: #ffffff;
    bottom: 50px;
    width:fit-content;
}

/* Footer */
footer {
    min-height: 10vh;
    background-color: #089BF5;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    font-size: 180%;
    color: #ffffff;
}



/* Media query: tablets and larger (768px an up)*/
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: flex;
        margin: 35px 50px;
    }

    nav a {
        font-size: 150%;
        margin: 20px 10px;
    }

    #banner {
        font-size: 300%;
    }

    /* Main Content */
    main {
        margin-top: 108.5px;
    }
    /* Hero Section */
    #hero {
        height: 700px;
    }

    /* Contact Us Section */
    #contact-points {
        flex-direction: row;

    }

    /* Services Section */
    #services-gallery{
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: space-evenly;
    }

    .services-picture{
        width:400px;
        
    }

}